.Available {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

/* Tablet/Mobile */
@media only screen and (max-width: 768px) {
  .Available {
    padding: 0 10px;
  }
}
